<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flash Card App</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <div id="flashCardApp" class="container">
        <div v-if="loading">Loading cards...</div>
        <div v-else-if="error">{{ error }}</div>
        <div v-else>
            <div v-if="cards.length > 0">
                <div
                    :class="['card-container', currentCard.colorClass]"
                    @touchstart="handleTouchStart"
                    @touchend="handleTouchEnd"
                >
                    <!-- This div is the text area where tap will flip the card -->
                    <div class="card-text" @click="flipCard">
                        <transition name="flip">
                            <div v-show="!currentCard.flipped">
                                <h2>{{ currentCard.frontText }}</h2>
                            </div>
                        </transition>
                        <transition name="flip">
                            <div v-show="currentCard.flipped">
                                <h2>{{ currentCard.backText }}</h2>
                            </div>
                        </transition>
                    </div>
                </div>
            </div>
            <div v-else>
                <p>No cards available.</p>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>